<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       	http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/neo4j
		http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

<!-- 	<bean id="applicationContextProvider" class="com.torana.webservices.ApplicationContextProvider"></bean> -->
	<bean id="applicationContextProvider" class="com.torana.util.ApplicationContextProvider"></bean>
	
	<context:component-scan base-package="com.torana.beans"></context:component-scan>
	
	<bean id="graphDatabaseService" class="org.springframework.data.neo4j.rest.SpringRestGraphDatabase">
		<constructor-arg value="http://localhost:7474/db/data/" />
	</bean>
	
	<neo4j:config graphDatabaseService="graphDatabaseService" base-package="org.springframework.data.neo4j.rest.SpringRestGraphDatabase"/>
	
	<neo4j:repositories base-package="com.torana.dao" />
	
	
	<!-- DAOs -->
		<bean id="genericDAO" class="com.torana.generic.dao.impl.ToranaGenericDAOImpl">
		<property name="sessionFactory" ref="hibernateSessionFactory"></property>
	</bean>

	<!-- DAO Factory -->
	<bean id="DAOFactory" class="com.torana.hibernate.core.dao.impl.DAOFactoryImpl">
		<property name="daosMap">
			<map>
				<entry key="genericDAO" value-ref="genericDAO" />
			</map>
		</property>
	</bean>

	<!-- Services -->

	<bean id="genericService" class="com.torana.generic.biz.impl.ToranaGenericServiceImpl">
		<property name="daoFactory" ref="DAOFactory"></property>
	</bean>
	
	<!-- Services Manger -->
	<bean id="serviceManager" class="com.torana.biz.impl.ServiceManagerImpl">
		<property name="servicesMap">
			<map>
				<entry key="genericService" value-ref="genericService" />
			</map>
		</property>
	</bean>
	
	
	
	
</beans>